* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 2rem;
  background-color: #ccb389;
  text-align: center;
}

table {
  width: 100%;
  background-color: #a8dbb2;
  border: 1px solid black;
}

th,
td {
  border: 1px solid black;
  padding: 0;
  margin: 0;
}
.action-btn {
    
    padding: 4px 8px;
    margin: 0 2px;
    cursor: pointer;
}
